{% extends 'base.html.twig' %}

{% block title %}{{ app.user.name }}{% endblock %}

{% block body %}
    <div class="p-10 h-full bg-white">
        <h1>{{ app.user.name }}</h1>
    </div>
{% endblock %}