{% extends 'auth.base.html.twig' %}

{% trans_default_domain 'reset_password' %}
{% block title %}{% trans %}check_email.title{% endtrans %}{% endblock %}

{% block card_icon_path %}
    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
{% endblock %}

{% block card_body %}
    <div class="space-y-6">
        <p>
            {% trans %}check_email.confirmation{% endtrans %}
            {% trans with {
                'expiration': resetToken.expirationMessageKey|trans(
                    resetToken.expirationMessageData,
                    'ResetPasswordBundle'
                )
            } %}check_email.expiration{% endtrans %}
        </p>
        <p>
            {% trans with {'url': path('forgot_password')} %}
                check_email.check_spam_or_retry
            {% endtrans %}
        </p>
    </div>
{% endblock %}
