{% trans_default_domain 'reset_password' %}
<h1>{% trans %}mail.title{% endtrans %}</h1>

<p>{% trans %}mail.instruction{% endtrans %}</p>

<a href="{{ url('reset_password', {token: resetToken.token}) }}">{{ url('reset_password', {token: resetToken.token}) }}</a>

<p>
    {% trans with {
        'expiration': resetToken.expirationMessageKey|trans(
            resetToken.expirationMessageData,
            'ResetPasswordBundle'
        )
    } %}mail.expiration{% endtrans %}
</p>

<p>{% trans %}mail.sign_off{% endtrans %}</p>
