{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% form_theme form 'form/login.html.twig' %}

{% block body %}
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm bg-white p-6 rounded">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <div>
                <svg class="mx-auto h-16 w-auto" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><text y="1em" font-size="1em">💍</text></svg>
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Reset your password</h2>
            </div>

            <div class="mt-10">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
