{% set bodyClasses = ['h-full', 'bg-gray-100'] %}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="min-h-full">
        {% block nav %}{% include 'app.nav.html.twig' %}{% endblock %}

        <header class="bg-white shadow-sm">
            <div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
                <h1 class="text-lg font-semibold leading-6 text-gray-900">
                    {% block heading %}{{ block('title') }}{% endblock %}
                </h1>
            </div>
        </header>
        <main>
            {% for message in app.flashes('success') %}
                <div class="mx-auto mt-6 max-w-7xl px-4 sm:px-6 lg:px-8">
                    <div class="rounded-md bg-green-50 p-4">
                        <p class="text-lg font-medium text-green-800">{{ message }}</p>
                    </div>
                </div>
            {% endfor %}

            <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
{% endblock %}